body {
}

a {
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  fill: #999;
  text-decoration: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
